@import url(globalVariables.css);

* {
    box-sizing: border-box;
}

.api-button {
    background-color: var(--onBackground);
    width: 100px;
    height: 100px;
    padding: 8px 4px;
    border-radius: var(--borderRadius);
    margin: 15px;
    box-shadow: 0px 10px 15px #252525;
    transition: box-shadow 0.2s ease-in-out, outline 0.1s ease-out;
}

.api-button:hover {
    box-shadow: 0px 5px 20px #0c0c0c;
}

.api-button:active {
    box-shadow: none;
}

.api-button.active {
    outline: 5px solid white;
}

.api-button > img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}
