@import url(/globalVariables.css);

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

.scroll-container {
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    min-width: 740px;
    min-height: 100vh;
    background-color: var(--displayBackground);
    box-sizing: border-box;
    padding: 10px 20px 15px 20px;
}

body.flex-container {
    flex-direction: row;
}

/* #region Api buttons sidepanel */
#api-buttons-sidepanel {
    min-width: max-content;
    width: max-content;
    background-color: var(--background);
    margin-right: 15px;
    border-radius: var(--borderRadius);
}

#api-buttons-sidepanel.flex-container {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* #endregion */

/* #region Main panel */
#mainPanel {
    width: 100%;
}

#mainPanel.grid-container {
    grid-template-rows: max-content 1fr;
}

#currentAPITitle {
    margin: 10px 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: var(--onBackgroundText);
}

/* #region Current accessible endpoints */
#currentAccessibleEndpointsPanel {
    position: relative;
    background-color: var(--background);
    border-radius: var(--borderRadius);
    color: var(--onBackgroundText);
    overflow: hidden;
}

#currentAccessibleEndpointsPanel.grid-container {
    grid-template-rows: 10% 1fr;
}

#mainpanel-topbar {
    z-index: 10;
}

#main-panel-data {
    margin-bottom: 4%;
}

#pagination-footer {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}

/* #region Current accessible endpoints list (cards) */

#currAccEPCards.grid-container {
    grid-template-columns: repeat(auto-fill, 20%);
    justify-content: space-between;
    justify-items: center;
}

#currAccEPCards::-webkit-scrollbar {
    background-color: var(--background);
}

#currAccEPCards::-webkit-scrollbar-thumb {
    background-color: var(--onBackground);
}

@media screen and (max-width: 1550px) {
    #currAccEPCards.grid-container {
        grid-template-columns: repeat(auto-fill, 25%);
    }
}

@media screen and (max-width: 1300px) {
    #currAccEPCards.grid-container {
        grid-template-columns: repeat(auto-fill, 33.33%);
    }
}

@media screen and (max-width: 1000px) {
    #currAccEPCards.grid-container {
        grid-template-columns: repeat(auto-fill, 50%);
    }
}
/* #endregion */
/* #endregion */
/* #endregion */
