@import url(/globalVariables.css);

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

.scroll-container {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    min-height: 100vh;
    background-color: var(--displayBackground);
    box-sizing: border-box;
    padding: 20px;
}

body.grid-container {
    grid-template-columns: 10% auto;
}

/* #region Api buttons sidepanel */
#api-buttons-sidepanel {
    min-width: 100px;
    background-color: var(--background);
    margin-right: 15px;
    border-radius: var(--borderRadius);
}

#api-buttons-sidepanel.flex-container {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* #endregion */

/* #region Main panel */
#mainPanel.grid-container {
    grid-template-rows: max-content auto;
}

#currentAPITitle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: var(--onBackgroundText);
}

/* #region Current accessible endpoints */
#currentAccessibleEndpointsPanel {
    background-color: var(--background);
    border-radius: var(--borderRadius);
    color: var(--onBackgroundText);
    overflow: auto;
}

#currentAccessibleEndpointsPanel.grid-container {
    grid-template-rows: max-content auto;
}

/* #region Current accessible endpoints top bar */

/* #endregion */

/* #region Current accessible endpoints list (cards) */

#currAccEPCards.grid-container {
    grid-template-columns: repeat(auto-fill, 20%);
    justify-content: space-between;
    justify-items: center;
}

#currAccEPCards::-webkit-scrollbar {
    background-color: var(--background);
}

#currAccEPCards::-webkit-scrollbar-thumb {
    background-color: var(--onBackground);
}
/* #endregion */
/* #endregion */
/* #endregion */

@media screen and (max-width: 1550px) {
    #currAccEPCards.grid-container {
        grid-template-columns: repeat(auto-fill, 25%);
    }
}

@media screen and (max-width: 1300px) {
    #currAccEPCards.grid-container {
        grid-template-columns: repeat(auto-fill, 33.33%);
    }
}

@media screen and (max-width: 1000px) {
    #currAccEPCards.grid-container {
        grid-template-columns: repeat(auto-fill, 50%);
    }
}
