<style>*{visibility: hidden; opacity: 0;}</style>
<link rel="stylesheet" href="components/last-level-screen/last-level-screen-style.css">

<div id="last-level-screen-container" class="">
    <div id="entry-cover">
        <div class="entry-cover-mask">
            <img id="entry-cover-image" alt="entry-cover" loading="lazy">
        </div>
        <div id="entry-title-container">
            <div id="entry-title"></div>
        </div>
    </div>
    <div id="entry-data">
        <table id="data-table">
        </table>
    </div>
</div>