@import url(/globalVariables.css);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
}

#topbar-container {
    height: 70px;
    margin: 30px 10px 20px 10px;
}

#topbar-container.grid-container {
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
}

#back-button {
    filter: var(--onBackgroundSVGFilter);
    height: 30px;
    width: 30px;
    margin-left: 10px;
    position: relative;
    opacity: 0;
    transition: opacity 0.15s;
}

/* #currAccEPTopBarCenterCol {
    width: 1000px;
    position: absolute;
    justify-self: center;
}

#currAccEPTopBarSearchBar {
    background-color: var(--backgroundTextInput);
    border: 3px solid var(--onBackgroundTextInput);
    border-radius: 20px;
    height: 40px;
    width: 100%;
    text-align: center;
    color: var(--onBackgroundTextInput);
} */

#pagination-info {
    margin-right: 80px;
    opacity: 0;
    transition: opacity 0.15s;
}

#pagination-info-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: right;
}
