@import url(globalVariables.css);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
}

#topbar-container {
    max-height: 50px;
    margin: 20px 10px 20px 10px;
    pointer-events: none;
}

#topbar-container.grid-container {
    grid-template-columns: 50px 1fr max-content;
    align-items: start;
}

#back-button {
    filter: var(--onBackgroundSVGFilter);
    height: 30px;
    width: 50px;
    margin: 10px;
    position: relative;
    opacity: 0;
    pointer-events: all;
    transition: opacity 0.15s, transform 0.05s ease-in;
}

#back-button:hover {
    transform: scale(115%);
}

#back-button:active {
    transform: scale(85%);
}

#pagination-info {
    height: 3rem;
    min-width: 50px;
    padding-right: 30px;
    opacity: 0;
    transition: opacity 0.15s;
}

#pagination-info-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: right;
}

.empty {
    width: 0;
}
