<style>*{visibility: hidden; opacity: 0;}</style>
<link rel="stylesheet" href="/components/search-bar/search-bar-style.css">

<div id="search-bar-container" class="flex-container">
    <div id="search-bar-wrapper">
        <div id="search-loader" class="loader"></div>
        <input id="search-bar-input" class="search-icon input-center" type="text">
        <button id="search-button">Search</button>
    </div>
</div>

<template id="not-found-popup">
    <div id="popup-container" class="popup flex-container">Search not found</div>
</template>