@import url(/globalVariables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    align-items: center;
}

.container-center {
    justify-content: center;
}

.container-start {
    justify-content: start;
}

#search-bar-input {
    min-width: 200px;
    height: 50px;
    padding: 0 30px 0 50px;
    border: 3px solid var(--onBackgroundTextInput);
    border-radius: 20px;
    margin: 0 20px;
    font-family: "Segoe UI Emoji", Helvetica;
    font-size: 1.3rem;
}

.search-icon {
    background-color: var(--onBackgroundText);
    background-image: url(/icons/google/search.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 35px;
}

.input-center {
    width: 80%;
}

.input-start {
    width: 40%;
}
